body{
	font-family: helvetica;
}

.orange-box{
	background-color: #D45119;
	text-align: center;
	padding: 50px 10px;
}

h1 {
	background-color: black;
	color: white;
	padding: 10px;
	font-size: 17px;
	text-align: center;
	margin-bottom: 40px;
}

div{
	background-color: #BFBEBD;
	width: 950px;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
}

#purple-text{
	color: purple;
}

#green-text{
	color: green;
}

#yellow-text{
	color: yellow;
}

