.red-box {
  height: 130px;
  width: 475px;
  background-color: red;
  padding: 0;
  display: inline-block;
  margin: 0;
}

.first {
  margin-right: 10px;
}

.container {
  width: 960px;
  border: 1px dashed;
  line-height: 0;
}

span {
  font-style: italic;
}

.eighties {
  color: red;
}

.later {
  color: green;
}

li {
  font-weight: bold;
}

