body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.nav {
  background-color: black;
}

a {
  color: #cccccc;
  text-decoration: none;
  display: inline-block;
  padding: 25px 10px;
}

a:hover {
  color: #fff;
  background-color: #ff7401;
}




